name: Intact Vault to AWS Secrets Sync

on:
  workflow_dispatch:
    inputs:
      terraform_init:
        description: 'Perform terraform initialization'
        type: boolean
        required: false
        default: true
      terraform_plan:
        description: 'Determine the expected changes'
        type: boolean
        required: false
        default: false
      terraform_apply:
        description: 'Perform teh reported changes'
        type: boolean
        required: false
        default: false
      secret_key_filter:
        description: 'Filter syncing to the specified secret key name'
        required: false
        type: string

jobs:
  intact-vault-to-aws-secrets-sync:
    runs-on: ubuntru-latest

    permissions:
      id-token: write
      contents: read
      
    name: Secret Sync from Vault to AWS
    steps:
      - uses: actions/checkout@v4
      
    #   - name: Retrieve the TFC_API_TOKEN from vault
    #     uses: hashicorp/vault-action@v2
    #     with:
    #       url: ${{ vars.VAULT_ADDR }}
    #       role: ${{ vars.VAULT_TF_JWT_ROLE }}
    #       path: ${{ vars.VAULT_TF_JWT_PATH }}
    #       namespace: ${{ vars.VAULT_ADMIN_NAMESPACE }}
    #       method: 'jwt'
    #       exportToken: true
    #       secrets:
    #         terraform/creds/${HCP_PROJECT}-git token | TFC_API_TOKEN

    #   - name: Revoke current token
    #     # Ensure the token is revoked even if the job fails
    #     # since we are login to vault again after with another account )
    #     if: always()
    #     run: |
    #       curl -sS -X POST -H "X-Vault-Token: ${{ env.VAULT_TOKEN }}" \
    #       "${{ env.VAULT_ADDR }}/v1/auth/token/revoke-self"
    #     env:
    #       VAULT_TOKEN: ${{ env.VAULT_TOKEN }}

      - name: Retrieve the TFC_API_TOKEN from vault
        uses: hashicorp/vault-action@v2
        with:
          url: ${{ vars.VAULT_ADDR }}
          role: ${{ vars.VAULT_AWS_JWT_ROLE }}
          path: ${{ vars.VAULT_AWS_JWT_PATH }}
          namespace: ${{ vars.VAULT_ADMIN_NAMESPACE }}
          method: 'jwt'
          exportToken: true

      - name: Sync Secrets to AWS  # Install the terraform cli
        uses: hashicorp/setup-terraform@v3
        with:
          cli_config_credentials_token: ${{ secrets.TFC_API_TOKEN }}

      - name: Terraform Init
        if: ${{ github.event.inputs.terraform_init == 'true' }}
        run: terraform init
        working-directory: ${{ vars.MAIN_WORKING_DIR }}

      - name: Terraform Plan
        if: ${{ github.event.inputs.terraform_plan == 'true' }}
        run: terraform plan
        working-directory: ${{ vars.MAIN_WORKING_DIR }} 

      - name: Terraform Apply
        if: ${{ github.event.inputs.terraform_apply == 'true' }}
        run: terraform apply
        working-directory: ${{ vars.MAIN_WORKING_DIR }} 
